#list-container {
  width: 50%;
  border: 3px solid black;
  margin: auto;
  margin-top: 5%;
  padding: 1% 0%;
  text-align: center;
}

#bottom {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
  padding-right: 4%;
}
