/*
Name: Larry Alston
Due Date: September 8, 2024
Assignment: Week 2 project "Favorite Foods"
*/

body {
  background-color: black;
  color: white;
  width: auto;
  margin: auto;
}

h1 {
  text-align: center;
}
