#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  padding-right: 1%;
}

div {
  width: 100%;
}

h2 {
  visibility: hidden;
}

button {
  background-color: #5bc054;
  display: block;
  margin: 2% auto;
}

button:active {
  transform: scale(0.95);
}

img {
  width: 40%;
}
