/*
Name: Larry Alston
Assignment: Week 2 Assignment - JSON and Bootstrap
Due Date: July 23, 2025 
*/

body {
  text-align: center;
}

h1 {
  padding: 2% 0%;
  font-size: 300%;
}

img {
  display: block;
  margin: auto;
}

.card {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 1%;
  text-decoration: none;
}

.cardholder {
  margin-bottom: 2%;
}
