/* 
Name: Larry Alston
Due Date: September 9, 2024
Assignment: Week 1 project "Moving ball"
*/

body {
  background-color: bisque;
}

#ball {
  background-color: brown;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
